<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882735469427-r989d56m8hrc6mq6k61llcciutnkbrms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882735469427-r989d56m8hrc6mq6k61llcciutnkbrms</string>
	<key>API_KEY</key>
	<string>AIzaSyCXzF3behH4PjpVd9bxP62BEiDg-oS1rQU</string>
	<key>GCM_SENDER_ID</key>
	<string>882735469427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maximmovchan.soulmates</string>
	<key>PROJECT_ID</key>
	<string>soulmates-189e7</string>
	<key>STORAGE_BUCKET</key>
	<string>soulmates-189e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882735469427:ios:2682da669a6d0873062b06</string>
	<key>DATABASE_URL</key>
	<string>https://soulmates-189e7-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>